<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">

                <h4 class="page-title">&nbsp;</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->


    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <img src="https://mk0cloudshare987kfdb.kinstacdn.com/wp-content/uploads/2017/03/sales-POC.png" style=" width: 300px;  border-radius: 25px;"/>
                <br/>
                <hr/>
                <i class="h1 mdi mdi-alert-octagon text-muted"></i>
                <h3 class="mb-3">Add Data</h3>
                <p class="text-muted">
                    Download an agent, point it at a git reposity and wire it up to an event(s), scheduled task, etc.
                    Thats it!
                </p>

                <h4 class="mb-5 mt-5">...or...</h4>

                <i class="h1 mdi mdi-lightbulb-outline text-muted"></i>
                <h3 class="mb-3">Explore the teams and products</h3>
                <p class="text-muted">
                    Check out the 4KM for a product by choosing it from the menu.  Clicking on a team will display the individuals products in the graph as well as a combined 4KM for the team
                </p>

            </div>
        </div><!-- end col -->
    </div><!-- end row -->
    <!-- end row -->


</div> <!-- container -->