<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Lead Time Advice</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->


    <div class="row">
        <div class="col-xl-8 col-lg-6">
            <!-- project card -->
            <div class="card d-block">
                <div class="card-body">
                    <!-- project title-->
                    <h3 class="mt-0 font-20">
                        One Piece Flow
                    </h3>
                    <div class="badge badge-secondary mb-3">Trending</div>

                    <p class="text-muted mb-2">
                        Voluptates, illo, iste itaque voluptas
                        corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate,
                        quod illo rerum? Lorem ipsum dolor sit amet.
                    </p>

                    <p class="text-muted mb-4">
                        Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores
                        libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet. With supporting text below
                        as a natural lead-in to additional contenposuere erat a ante.
                    </p>

                    <div class="mb-4">
                        <h5>Links</h5>
                        <div class="text-uppercase">
                            <a href="https://www.scruminc.com/alternative-to-kanban-one-piece/" class="badge badge-soft-primary mr-1">Link</a>
                        </div>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
            <div class="card d-block">
                <div class="card-body">
                    <!-- project title-->
                    <h3 class="mt-0 font-20">
                        Story Splitting
                    </h3>
                    <p class="text-muted mb-4">
                        Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores
                        libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet. With supporting text below
                        as a natural lead-in to additional contenposuere erat a ante.
                    </p>

                    <div class="mb-4">
                        <h5>Links</h5>
                        <div class="text-uppercase">
                            <a href="#" class="badge badge-soft-primary mr-1">Link</a>
                            <a href="#" class="badge badge-soft-primary mr-1">Link</a>
                            <a href="#" class="badge badge-soft-primary mr-1">Link</a>
                            <a href="#" class="badge badge-soft-primary mr-1">Link</a>
                            <a href="#" class="badge badge-soft-primary mr-1">Link</a>
                        </div>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
            <div class="card d-block">
                <div class="card-body">
                    <!-- project title-->
                    <h3 class="mt-0 font-20">
                        Release more often!
                    </h3>
                    <p class="text-muted mb-4">
                        Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores
                        libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet. With supporting text below
                        as a natural lead-in to additional contenposuere erat a ante.
                    </p>

                    <div class="mb-4">
                        <h5>Links</h5>
                        <div class="text-uppercase">
                            <a href="#" class="badge badge-soft-primary mr-1">Link</a>
                            <a href="#" class="badge badge-soft-primary mr-1">Link</a>
                        </div>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
            <div class="card d-block">
                <div class="card-body">
                    <!-- project title-->
                    <h3 class="mt-0 font-20">
                        Limit WIP
                    </h3>
                    <p class="text-muted mb-4">
                        Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores
                        libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet. With supporting text below
                        as a natural lead-in to additional contenposuere erat a ante.
                    </p>

                    <div class="mb-4">
                        <h5>Links</h5>
                        <div class="text-uppercase">
                            <a href="#" class="badge badge-soft-primary mr-1">Link</a>
                            <a href="#" class="badge badge-soft-primary mr-1">Link</a>
                        </div>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->


        </div> <!-- end col -->

        <div class="col-lg-6 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Interesting Links</h5>

                    <div class="card mb-1 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="avatar-sm">
                                        <span class="avatar-title badge-soft-primary text-primary rounded">
                                            IMG
                                        </span>
                                    </div>
                                </div>
                                <div class="col pl-0">
                                    <a href="javascript:void(0);" class="text-muted font-weight-bold">Littles Law</a>
                                </div>
                                <div class="col-auto">
                                    <!-- Button -->
                                    <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
                                        <i class="dripicons-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-1 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="avatar-sm">
                                        <span class="avatar-title badge-soft-primary text-primary rounded">
                                            IMG
                                        </span>
                                    </div>
                                </div>
                                <div class="col pl-0">
                                    <a href="javascript:void(0);" class="text-muted font-weight-bold">Link 2 description</a>
                                </div>
                                <div class="col-auto">
                                    <!-- Button -->
                                    <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
                                        <i class="dripicons-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-0 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="avatar-sm">
                                        <span class="avatar-title badge-soft-primary text-primary rounded">
                                            IMG
                                        </span>
                                    </div>
                                </div>
                                <div class="col pl-0">
                                    <a href="javascript:void(0);" class="text-muted font-weight-bold">Link 3 description</a>
                                </div>
                                <div class="col-auto">
                                    <!-- Button -->
                                    <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
                                        <i class="dripicons-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div> <!-- container -->